body {
    background-color: #93c4b3;
}

.vq {
    background-color: #80BCE8;
}

.cardList {
    margin: 2rem 5vw;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.selectCard {
    padding: .5rem;
    border-radius: .25rem;
}

.selectControl {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap; 
    color: #333; 
    
    div {
        font-weight: 600;
    }
}

.pageText {
    margin: 1rem;
    width: auto;
    color: #333;
    
    div, p {
        font-weight: 600;
    }
}